{% extends 'base.html' %}
{% load static %}
{% block title %}
    /product_view
{% endblock %}
{% block content %}
    <section class="product_view">
        <span class="header">
            <a href="index.html">home</a>
            <p>{{ product.category.name }}</p>
            <p>{{ product.name }}</p>
        </span>
        <div class="flex" >
            <div>
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="flex_image">
                    <
                    <div></div>
                    <div></div>
                    <div></div>
                    >
                </div>
            </div>
            <div>
                <h2>{{ product.category.name }} - {{ product.name }}</h2>
                <small>
                    no reviews
                </small>
                <p>
                    {{ product.description }}
                </p>
                <ul>
                    <li>category : {{ product.category.name }}</li>
                    <li>color : black</li>
                </ul>
                <h3>
                    $ {{ product.price|floatformat:2 }}
                </h3>
                <span class="prompt">
                    please hurry! only 9 left in stock
                </span>
                <form action="" method="POST">
                    <label for="quantity">quantity:</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                    </select>
                    <button type="submit">change</button>
                </form>
                <p>
                    subtotal: $ {{ product.price|floatformat:2 }}
                </p>
                <a href="" class="colored">add to cart</a>
                <input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox">i agree with the terms and conditions</label>
                <a href="{% url 'checkout' %}">buy now</a>
            </div>
        </div>
        <div class="content">
            <h1> descriptions and other informations</h1>
        </div>
    </section>
{% endblock %}